{
  "searches": [
    {
      "Keyword": "Software Engineer",
      "Location": "Egypt",
      "Experience Level": "Entry level, Associate, Mid-Senior level",
      "Remote": "Remote, Hybrid, On-Site",
      "Job Type": "Full-time",
      "Last Posted": "r604800",
      "Easy Apply": ""
    }
  ]
}
